@model Investimento


<div class="mb-3">
	<div class="mb-3">
		<label asp-for="Titulo"></label>
		<input asp-for="Titulo" class="form-control" />
	</div>
	<label asp-for="CapitalInvestido"></label>
	<input asp-for="CapitalInvestido" class="form-control" />
</div>
<div class="mb-3">
	<label asp-for="Data"></label>
	<input asp-for="Data" class="form-control" />
</div>
<div class="mb-3">
	<label asp-for="Objetivo"></label>
	<input asp-for="Objetivo" class="form-control" />
</div>
<div class="mb-3">
	<label asp-for="Rendimento"></label>
	<input asp-for="Rendimento" class="form-control" />
</div>
<div class="mb-3">
	<label asp-for="Tipo"></label>
	<select asp-for="Tipo" class="form-select" asp-items="@Html.GetEnumSelectList<TipoInvestimento>()">Selecione</select>
</div>