@model Investimento

@{
	ViewData["Title"] = "Cadastro de Investimento";
}

<h1>Cadastro de Investimento</h1>

<form asp-action="cadastrar">
	<div class="mb-3">
		<label asp-for="Titulo"></label>
		<input type="text"/>
	</div>
</form>