
<h1>Somar</h1>

<form method="post" action="/calculadora/soma">
    <div class="mb-3">
        <label class="form-label">Numero 1:</label>
        <input type="text" placeholder="Digite seu número" name="numero1" class="form-control" />
    </div>
    <div class="mb-3">
        <label class="form-label">Número 2</label>
        <input type="text" placeholder="Digite o segundo número" name="numero2" class="form-control" />
    </div>
    <input type="submit" value="Somar" class="btn btn-outline-primary mb-3" />
    <div>
    <input type="text" value="@TempData["soma"]" readonly= "readonly" class="form-control"/>
    </div>
</form>
