@model Carro

@{
    ViewData["Title"] = "Cadastrar";
}

<h1>Cadastrar</h1>

@if(ViewBag.mensagemSucesso != null)
{
    <div class="alert alert-info">
        <h1>@ViewBag.mensagemSucesso</h1>
    </div>
}


<form asp-controller="carro" asp-action="cadastrar">
    <div class="mb-3">
        <label asp-for="Modelo" class="form-label"></label>
        <input asp-for="Modelo" class="form-control"/>
    </div>
    <div class="mb-3">
        <label asp-for="Ano" class="form-label"></label>
        <input asp-for="Ano" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Valor" class="form-label"></label>
        <input asp-for="Valor" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Automatico" class="form-label"></label>
        <input asp-for="Automatico" type="checkbox"/>
    </div>
    <input type="submit" value="Cadastrar" class="btn btn-primary"/>
</form>
