@model Carro

@{
    ViewData["Title"] = "Editar Carros";
}

<h1>Editar</h1>

<mensagem mensagem="@TempData["edicaoConcluida"]"></mensagem>

<form asp-controller="carro" asp-action="editar">
    
    <partial name="_Form"/>
    
    <botao texto="Editar"></botao>
    <a asp-action="index" class="btn btn-outline-dark">Consultar</a>
</form>
