@model Carro

<input asp-for="Codigo"/>
    <div class="mb-3">
        <label asp-for="Modelo" class="form-label"></label>
        <input asp-for="Modelo" class="form-control"/>
    </div>
    <div class="mb-3">
        <label asp-for="Ano" class="form-label"></label>
        <input asp-for="Ano" class="form-control"/>
    </div>
    <div class="mb-3">
        <label asp-for="Valor" class="form-label"></label>
        <input asp-for="Valor" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Combustivel" class="form-label"></label>
        <select class="form-control" asp-for="Combustivel" asp-items="@Html.GetEnumSelectList<Combustivel>()">
            <option>Selecione</option>
        </select>
    </div>
    <div class="mb-3">
        <label asp-for="Fabricante" class="form-label"></label>
        <select class="form-control" asp-for="Fabricante" asp-items="@ViewBag.Fabricantes">
            <option>Selecione</option>
        </select>
    </div>
    <div class="mb-3">
        <label asp-for="Automatico" class="form-label"></label>
        <input asp-for="Automatico" type="checkbox"/>
    </div>