@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a asp-action="Logar" asp-controller="Login">Login</a>
    <a asp-action="Soma" asp-controller="Calculadora">Calculadora: Somar</a>
</div>
