<h1>Logar</h1>

<form method="post" action="/login/logar">
    <div class ="mb-3">
    <label>Usuário</label>
    <input type="text" placeholder="Digite seu usuário" name="nome" />
    </div>
    <div class="mb-3">
        <label>Senha</label>
        <input type="password" placeholder="Senha" name="senha"  />
    </div>
    <input type="submit" value="Logar" class="btn btn-outline-primary" />
</form>
