@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a asp-action="Logar" asp-controller="Login">Login</a>
    <!-- Link para a calculadora (somar)-->
    <a asp-controller="Calculadora" asp-action="Somar">Calculadora: Somar</a>
</div>
